@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --a: 0;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  background-color: black;
  color: white;
  margin: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}
.container {
  padding: 15px;
}
.left {
  width: 25vw;
  /* padding: 25px; */
}
.right {
  width: 75vw;
  position: relative;

  /* padding: 25px; */
}
.home > ul > li {
  width: 18px;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding: 5px;
  font-weight: 700;
}

.logo {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.library {
  min-height: calc(80vh - 73px);
  position: relative;
}
.footer {
  display: flex;
  align-items: center;
  font-size: 10px;
  color: grey;
  gap: 13px;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
}
.footer a {
  color: grey;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212121;
  border-radius: 7px;
}
.header > * {
  padding: 18px;
}
.spotifyPlaylists {
  padding: 16px;
}
.cardContainer {
  margin: 30px;
  display: flex;
  justify-content: left;
  gap: 10px;
  flex-wrap: wrap;
  max-height: 60vh;
  overflow-y: auto;
}
.card {
  width: 200px;
  height: 255px;
  padding: 10px;
  background-color: #252525;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease-in;
}
.card * {
  padding-top: 3px;
}
.card img {
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
}
.card h2 {
  font-size: 18px;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card p {
  font-size: 13px;
  text-transform: capitalize;
}
.card:hover {
  background-color: #454444;
}
.play {
  padding: 6px;
  width: 33px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #1ed760;
  position: absolute;
  top: 165px;
  left: 162px;
  opacity: var(--a);
  transition: all 0.3s ease-out; /* Smooth transition for hovering */
}
.play:hover {
  /* opacity: 1; */
  --a: 1;
}

.signupbtn {
  background-color: #212121;
  color: #8f8f8f;
  font-weight: 700;
  border: none;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  transition: all 0.1s ease-in;
}
.signupbtn:hover {
  font-size: 1.011rem;
  color: #fff;
}
.signinbtn {
  background-color: white;
  border-radius: 30px;
  color: black;
  font-weight: 700;
  width: 78px;
  padding: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.1s ease-in;
}
.signinbtn:hover {
  transform: scale(1.08);
}

.playbar {
  position: fixed;
  bottom: 2%;
  background-color: #dad5d5;
  width: 69.4vw;
  padding: 0px 15px;
  min-height: 20px;
  border-radius: 10px;
  filter: invert(1);
}
.songbuttons {
  display: flex;
  justify-content: center;
  gap: 18px;
}
.songList {
  height: 54vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.songList ul {
  padding: 0 12px;
}
.songList ul li {
  list-style-type: decimal;
  display: flex;
  /* gap: 20px; */
  justify-content: space-between;
  cursor: pointer;
  padding: 12px 0;
  font-size: 15px;
  border: 1px solid white;
  margin: 12px 0px;
  padding: 12px 10px;
  border-radius: 5px;
}
.info {
  width: 100px;
  text-transform: capitalize;
}
.info > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  width: 100px;
  /* border: 1px solid; */
}
.playnow {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 94px;
  font-size: 14px;
}
.playnow img {
  width: 20px;
}
.seekbar {
  height: 2.4px;
  width: 96%;
  border: 2px solid black;
  background-color: black;
  position: absolute;
  bottom: 0;
  border-radius: 10px;
  margin: 6px;
  cursor: pointer;
}
.circle {
  width: 18px;
  height: 18px;
  background-color: black;
  border-radius: 50%;
  position: relative;
  bottom: 8px;
  left: -3px;
  cursor: pointer;
  box-shadow: 0px 0px 20px 0px white;
  transition: all 0.5s;
}
.circle:hover {
  transform: scale(1.1);
}
.songbuttons > img {
  cursor: pointer;
}

.abovebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-weight: 600;
  padding: 0 12px;
  margin: 20px 0;
}
.abovebar > * {
  width: 250px;
  /* border: 1px solid; */
}
.songInfo {
  white-space: nowrap;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
.songTime {
  width: 115px;
  text-align: center;
}
.volumewitsong {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 20px;
}
.volume {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease-in;
}
.range {
  display: flex;
  justify-content: center;
  align-items: center;
}
.range input {
  width: 50px;
  height: 4px;
  cursor: pointer;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.close {
  display: none;
}
/* Time to write Media Query for Responsiveness */

@media (max-width: 1279px) {
  .left {
    background-color: black;
    position: absolute;
    left: -120%;
    transition: all 0.5s ease-in;
    z-index: 1;
    width: 370px;
  }
  .right {
    width: 100vw;
    margin: 5px -12px;
  }
  .playbar {
    width: 92vw;
    /* transform: translateX(-15px); */
  }
  .seekbar {
    width: calc(100vw - 10%);
    transform: translateX(-6px);
  }
  .songbuttons img {
    width: 30px;
  }
  .hamburger {
    display: block;
    transition: all 0.2s ease-in;
  }
  .hamburger:hover {
    transform: scale(1.06);
  }
  .close {
    display: block;
    cursor: pointer;
    transition: all 0.2s ease-in;
  }
  .close:hover {
    transform: scale(1.1);
  }
  .buttons > * {
    width: 60px;
    font-size: 12px;
  }

  .play {
    width: 30px;
    height: 30px;
    top: 162px;
    left: 162px;
  }
  .card {
    width: 44vw;
  }
  .cardContainer {
    margin: 0;
    justify-content: center;
    margin-bottom: 32vh;

  }
  .abovebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    align-items: center;
  }
  .songTime,
  .songInfo {
    width: fit-content;
    font-size: 16px;
  }
  .volumewitsong {
    flex-direction: column;
    gap: 10px;
  }
  .cardContainer {
    max-height: 50vh;
  }
  .image {
    /* border: 1px solid red; */
    object-fit: cover;
    z-index: 4455;
    padding: 0;
    margin: 0;
    overflow: hidden;
    object-position: center center;
    height: 205px;
    border-radius: 10px;
    padding-bottom: 5px;
  }
}
@media (max-width: 430px) {
  .card {
    width: auto;
    /* overflow: hidden; */
  }
  .image {
    /* border: 1px solid red; */
    object-fit: cover;
    z-index: 4455;
    padding: 0;
    margin: 0;
    overflow: hidden;
    object-position: center center;
    height: 205px;
    border-radius: 10px;
    padding-bottom: 5px;
  }
  .playbar {
    width: 77vw;
  }
  .seekbar {
    width: 74vw;
    transform: translateX(-6px);
  }
}
